.click2pay-button-hint {
    display: block
}

.click2pay-manual-hint {
    display: block
}

.click2pay-manual-hint.visually-hidden {
    display: none;
}

#click2pay-manual-payment-link {
    margin-right: unset;
}

.clik2pay-payment-button img {
    max-width: 200px;
}

.order-confirmation-details .order-information {
    display: none;
}
